name: Trigger CD in Orchestrator
on:
  push:
    branches:
      - stp-changes
  workflow_run:
    workflows: ["Create daily Docker image for Kenon Frontend on develop"]
    types:
      - completed

jobs:
  trigger-orchestrator:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger workflow in openimis-dist_dkr
        uses: peter-evans/repository-dispatch@v3
        with:
          event-type: deploy-kenon-frontend
